@{
    ViewData["Title"] = "Trang Chủ - PetCare Management";
}

<div class="home-page">
    <partial name="Partials/_Hero" />
    <partial name="Partials/_Services" />
    <partial name="Partials/_Booking" />
    <partial name="Partials/_Statistics" />
    <partial name="Partials/_Gallery" />
</div>

<partial name="Partials/_Footer" />